.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#all-new-elements div {
  width: 150px;
  height: 50px;
  border: 1px solid black;
  margin: 5px;
  padding: 10px;
}
